body {background-image: url("newspaper.jpg");
    background-color: #cccccc;
    background-size: auto;
    background background-repeat: no-repeat;   
}

.pealkiri {
    color: rgb(71, 76, 36);
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;   
    font-family: 'Merriweather', serif; 
}

.uudised {
    width: 800px;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    font-family: 'Merriweather', serif;
}

.uudis {
    padding: 10px;
    margin: 10px;
    background-color: #cccccc;
    text-align: justify;   
} 

.news {
    background-color: #cccccc;
    width: 800px;
    margin-left: 20%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: justify;
    font-family: 'Merriweather', serif;
}

.kpvautor {
    text-align: left;
    font-style: italic;
}

h2 {
 color: rgb(41, 40, 40);
 text-align: center;
}

h3 {
    font-style: oblique;
}

